<html>
  <head>
    <title>XML Parser</title>
  </head>
  <body>
    <h1>Parse Your XML Easily and Save to Rackspace</h1>
    <form enctype="multipart/form-data" method="post" action="/">
      Choose your file here:
      <input name="file1" type="file" /><br /><br />
      <input type="submit" value="Upload It" />
    </form>
  </body>
</html>
