<h2>You have successfully uploaded your image files to Rackspace!</h1>
<p>
  Please click the link to download your new kml file.
</p>

<form action="/">
  <input type="submit" value="Home">
</form>

<form  method="post" action="/download">
  <%= "Your File can be downloaded below with the new image urls that point to rackspace." %><br>
  <input name="filename" type="hidden" value= <%= @filename %>><br>
  <input type="submit" value="Download">
</form>
